/* Dark theme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000;
    }

    .site {
        font-family: sans-serif;
        font-weight: 300;
        color: #fff;
        overflow: scroll;
        margin: auto;
        margin-top: 44px;
        width: 70%;
        margin-bottom: 50px;
    }

    h1 {
        color: #fff;
    }

    h2 {
        margin-top: 2%;
        margin-bottom: 3%;
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 50px;
    }

    div.agree-section {
        display: block;
        margin: auto;
        width: 300px;
    }

    div.form {
        display: block;
        text-align: center;
    }

    p.info {
        margin: auto;
        text-align: center;
        color: #a6a6a6;
    }

    form {
        display: inline-block;
        margin-bottom: 2%;
        padding: 2%;
        width: 600px;
        border-radius: 3%;
        border: 1px solid #444;
        align-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .form-row {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .form-row label {
        flex: 0 0 200px;
        text-align: right;
        font-size: 16px;
        margin-right: 0.5rem;
    }

    input {
        background-color: #222;
        margin: 1%;
        padding: 2px;
        flex: 1;
        font-size: 15px;
        align-content: center;
        border: none;
        border-radius: 4px;
        color: #fff;
        transition: 200ms;
    }

    button.submit {
        background-color: #0063cc;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: 200ms;
    }

    button.submit:hover,
    button.submit:focus {
        scale: 1.2;
        background-color: #0040cc;
    }

    .submit:disabled {
        background-color: #666;
        pointer-events: none;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #888;
        margin: 0;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-color: #0063cc;
    }

    input[type="checkbox"]:checked::after {
        content: "✓";
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    select {
        background-color: #222;
        margin: 1%;
        padding: 2px;
        flex: auto;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%;
        background-size: 0.65em auto;
        border: none;
        font-size: 15px;
        color: #fff;
        transition: 200ms;
    }

    .submit {
        margin: 20px;
    }

    a.links {
        color: #8bc3ff;
        text-decoration: none;
        transition: all 300ms;
    }

    a.links:hover,
    a.links:focus {
        color: #0063cc;
        text-decoration: underline;
    }

    .success-icon.swal2-icon.swal2-success {
        border-color: #4da3ff;
        color: #4da3ff;
    }

    .success-icon.swal2-icon.swal2-success [class^="swal2-success-line"] {
        background-color: #4da3ff;
    }

    .success-icon.swal2-icon.swal2-success .swal2-success-ring {
        border: 0.25em solid rgba(77, 163, 255, 0.3);
    }

    @media (max-width: 1100px) {
        .site {
            width: 90%;
        }

        form {
            display: block;
            margin: auto;
            width: 90%;
        }

        .form-row {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .form-row label {
            flex: 0 0 300px;
            text-align: right;
            font-size: 16px;
            margin-right: 0.5rem;
        }
    }

    @media (max-width: 768px) {
        .site {
            margin-top: 56px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 40px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
            font-size: 15px;
        }

        form {
            display: block;
        }

        .form-row {
            display: block;
            align-items: left;
        }

        .form-row label {
            margin-left: 30px;
            text-align: left;
            font-size: 19px;
        }

        label, input, select {
            display: block;
            margin: 1% auto;
            width: 90%;
            font-size: 20px;
        }

        input[type="checkbox"] {
            display: inline-block;
            -webkit-appearance: none;
            appearance: none;
            background-color: #888;
            margin: 0;
            margin-top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 2px;
        }
    }
}

/* Light theme */
@media (prefers-color-scheme: light) {
    body {
        background-color: #fff;
    }

    .site {
        font-family: sans-serif;
        font-weight: 300;
        color: #000;
        overflow: scroll;
        margin: auto;
        margin-top: 44px;
        width: 70%;
        margin-bottom: 50px;
    }

    h1 {
        color: #000;
    }

    h2 {
        margin-top: 2%;
        margin-bottom: 3%;
        font-family: sans-serif;
        font-weight: 500;
        text-align: center;
        font-size: 50px;
    }

    div.agree-section {
        display: block;
        margin: auto;
        width: 300px;
    }

    div.form {
        display: block;
        text-align: center;
    }

    p.info {
        margin: auto;
        text-align: center;
        color: #a6a6a6;
    }

    form {
        display: inline-block;
        margin-bottom: 2%;
        padding: 2%;
        width: 600px;
        border-radius: 3%;
        border: 1px solid #ccc;
        align-content: center;
        align-items: center;
        text-align: center;
        font-size: 15px;
    }

    .form-row {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .form-row label {
        flex: 0 0 200px;
        text-align: right;
        font-size: 16px;
        margin-right: 0.5rem;
    }

    input {
        background-color: #eee;
        margin: 1%;
        padding: 2px;
        flex: 1;
        font-size: 15px;
        align-content: center;
        border: none;
        border-radius: 4px;
        color: #000;
        transition: 200ms;
    }

    button.submit {
        background-color: #8bc3ff;
        color: #fff;
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        transition: 200ms;
    }

    button.submit:hover,
    button.submit:focus {
        scale: 1.2;
        background-color: #0063cc;
        color: #fff;
    }

    .submit:disabled {
        background-color: #ccc;
        pointer-events: none;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: #ccc;
        margin: 0;
        width: 14px;
        height: 14px;
        border-radius: 2px;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-color: #0063cc;
    }

    input[type="checkbox"]:checked::after {
        content: "✓";
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    select {
        background-color: #eee;
        margin: 1%;
        padding: 2px;
        flex: auto;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat;
        background-position: right 0.7em top 50%;
        background-size: 0.65em auto;
        border: none;
        font-size: 15px;
        color: #000;
        transition: 200ms;
    }

    .submit {
        margin: 20px;
    }

    a.links {
        color: #8bc3ff;
        text-decoration: none;
        transition: all 300ms;
    }

    a.links:hover,
    a.links:focus {
        color: #0063cc;
        text-decoration: underline;
    }

    .success-icon.swal2-icon.swal2-success {
        border-color: #4da3ff;
        color: #4da3ff;
    }

    .success-icon.swal2-icon.swal2-success [class^="swal2-success-line"] {
        background-color: #4da3ff;
    }

    .success-icon.swal2-icon.swal2-success .swal2-success-ring {
        border: 0.25em solid rgba(77, 163, 255, 0.3);
    }

    @media (max-width: 1100px) {
        .site {
            width: 90%;
        }

        form {
            display: block;
            margin: auto;
            width: 90%;
        }

        .form-row {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
        }

        .form-row label {
            flex: 0 0 300px;
            text-align: right;
            font-size: 16px;
            margin-right: 0.5rem;
        }
    }

    @media (max-width: 768px) {
        .site {
            margin-top: 56px;
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 40px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 20px;
            text-align: left;
            font-size: 15px;
        }

        form {
            display: block;
        }

        .form-row {
            display: block;
            align-items: left;
        }

        .form-row label {
            margin-left: 30px;
            text-align: left;
            font-size: 19px;
        }

        label, input, select {
            display: block;
            margin: 1% auto;
            width: 90%;
            font-size: 20px;
        }

        input[type="checkbox"] {
            display: inline-block;
            -webkit-appearance: none;
            appearance: none;
            background-color: #888;
            margin: 0;
            margin-top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 2px;
        }
    }
}
